POSTGRES_DB=example
POSTGRES_URL=jdbc:postgresql://postgres:5432/example
POSTGRES_USER=user
POSTGRES_PASSWORD=password
JWT_SECRET=Ioqw6/qXuIhsI/9o5I7tPXzVCb92hgcPVHSFWIKR2To=
JWT_EXPIRATION_MS=86400000
ENCRYPTION_KEY=3oAsF2flJW/h7zzhwvDH0kE/Fdv4hjOVcQjPdCq0m4A=